* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: gray;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flash {
  transform: translate(0px,0px);  /* キラリンチョさせる場所を指定 */
  width: 1px;
  height: 1px;
  rotate: -5deg;  /* キラリンチョの角度を指定 */
  background: radial-gradient(
    rgba(255, 231, 255, 1) 35%,
    rgba(136, 81, 255, 1) 50%,
    rgba(136, 81, 255, 0) 70%,
    transparent 100%
  );
  animation-name: changeSize;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
@keyframes changeSize {
  0% {
    height: 5px;
  }
  20% {
    width: 1000px;
    height: 25px;
  }
  100% {
    width: 1000px;
    height: 0px;
  }
}